doctype html
html(lang="en")
    header
        meta(charset="utf-8")
        link(rel="stylesheet", href="./")
        style.
            body {
                background: rgb(18, 18, 18);
                margin: 0px;
                padding: 0px;
            }

        title Document
        
    body
        h1(style={"color": "dimgray", "background": "rgb(21, 21, 21)", "text-align": "center", "margin": "0px"}) Hello, World!
        h1(style={
            "color": "dimgray",
            "background": "rgb(21, 21, 21)",
            "text-align": "center",
            "margin": "15px 0px 0px 0px"
        }) Hello, World!