doctype html
html(lang='en')
    header
        meta(charset='utf-8')
        link(rel='stylesheet', href='./')
        script(src='./')
        title Document
    body
        header.header
            block header
                h1 title is
            
        block main
        //-   main or content

        footer.footer
            block footer