doctype html
html(lang="en")
    header
        meta(charset="utf-8")
        link(rel="stylesheet", href="./")
        script(src="./")
        title Document
    body
        header#site-header
            nav#main-nav
                ul.main-menu
                    li: a(href="#") Item1
                    li: a(href="#") Item2
                    li: a(href="#") Item3
                    li: a(href="#") Item4
