doctype

h1 Hello,
    span World!

div container1
    div container2
        div container3

ul
    li first item
    li second item
    li third item

a(href="#") Click Here
img(src="image" rel="a image of test")

p#id1 paragrafo
p.class1.class2.class3 paragrafo
p#id2.class1 paragrafo

p
  | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  a(href="#") Vitae
  | saepe dolores voluptate nostrum animi. Ratione, quasi
  | eos, quibusdam labore laboriosam minus vel, beatae debitis
  | amet non exercitationem maxime ad culpa.

ul.menu
    li.item: a(href="#").itemA link
